    <footer class="main--footer">
        <div class="container">
            <div class="cities item">
                <div class="title">CITIES</div>
                <ul>
                    <li><a href="">Kathmandu</a></li>
                    <li><a href="">Pokhara</a></li>
                    <li><a href="">Dharan</a></li>
                    <li><a href="">Itahari</a></li>
                    <li><a href="">Jhapa</a></li>
                </ul>
            </div>

            <div class="footer-categories item">
                <div class="title">CATEGORIES</div>
                <ul>
                    <li><a href="">Healthcare</a></li>
                    <li><a href="">Automobile</a></li>
                    <li><a href="">Construction</a></li>
                    <li><a href="">Computer &amp; IT</a></li>
                    <li><a href="">Finance</a></li>
                </ul>
            </div>

            <div class="newsletter item">
                <div class="title">NEWSLETTER</div>
                <div>Keep up with our always upcoming news and updates. Enter your e-mail and subscribe to our
                    newsletter.</div>
                <input type="text" placeholder="Type your email">
            </div>

            <div class="contacts">
                <img src="/images/logo.png" alt="">
                <div class="social">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </footer>

    <div class="elevenSensor"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
    <script src="/js/nav_bar.js"></script>
    {{#block "customJS"}}
    {{/block}}
    
    {{> flash }}
</body>

</html>