<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#block "pageName" }}{{/block}} - {{ h.siteName }}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Product+Sans">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <link rel="stylesheet" href="/css/style.css">
    {{#block "customCSS"}}
    {{/block}}
</head>

<body>
    <header class="main--header unScroll" id="header">
        <img src="/images/logo.png" class="logo"></div>
        {{> nav }}
        <span id="toggle_nav">
            <i class="fas fa-bars"></i>
        </span>
    </header>